Checks:
   '-*,
   bugprone-use-after-move,
   bugprone-move-forwarding-reference,
   bugprone-redundant-branch-condition,
   bugprone-stringview-nullptr,
   cppcoreguidelines-narrowing-conversions,
   misc-unused-parameters,
   modernize-return-braced-init-list,
   modernize-shrink-to-fit,
   modernize-use-default-member-init,
   modernize-use-emplace,
   modernize-use-equals-default,
   modernize-use-equals-delete,
   modernize-use-override,
   performance-faster-string-find,
   performance-for-range-copy,
   performance-inefficient-algorithm,
   performance-inefficient-string-concatenation,
   performance-inefficient-vector-operation,
   performance-move-const-arg,
   performance-no-automatic-move,
   performance-noexcept-move-constructor,
   performance-trivially-destructible,
   performance-type-promotion-in-math-fn,
   performance-unnecessary-copy-initialization,
   performance-unnecessary-value-param,
   portability-simd-intrinsics,
   ortability-std-allocator-const,
   readability-braces-around-statements,
   readability-const-return-type,
   readability-container-contains,
   readability-container-data-pointer,
   readability-convert-member-functions-to-static,
   readability-deleted-default,
   readability-delete-null-pointer,
   readability-else-after-return,
   readability-identifier-naming,
   readability-inconsistent-declaration-parameter-name,
   readability-make-member-function-const,
   readability-qualified-auto,
   readability-redundant-access-specifiers,
   readability-redundant-declaration,
   readability-redundant-member-init,
   readability-simplify-boolean-expr,
   readability-static-accessed-through-instance'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: file
